.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

.link {
  display: block;
  padding: 1rem;
  background-color: #242424;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.link:hover {
  border-color: #646cff;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    max-width: none;
    justify-content: center;
  }
}