:root {
  --bg: #020617;
  --text: #213547;
  --border: #e5e4e7;
  --sans: system-ui, -apple-system, sans-serif;
  
  font-family: var(--sans);
  background-color: var(--bg);
  color: var(--text);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16171d;
    --text: #f3f4f6;
    --border: #2e303a;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--text);
}

#root {
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  display: inline-block;
}

button, input, textarea, select {
  font: inherit;
  background: none;
  color: inherit;
}

img, svg {
  display: block;
  max-width: 100%;
}